<footer class="footer">

    <div class="footer-content">

        <div class="footer-info">

            <strong>
                Soluvix
            </strong>

            <span>
                Universidad Técnica Nacional
            </span>

        </div>


        <div class="footer-authors">

            <mat-icon>
                code
            </mat-icon>

            <span>
                Proyecto hecho por
                <strong>Ana Paula Fernández Alfaro</strong>
                y
                <strong>Fabricio Arias Samora</strong>
            </span>

        </div>
        <span class="footer-year">
            © {{ year }}
        </span>

    </div>

</footer>