<footer class="footer">
    <div class="footer-content">
        <div class="footer-info">
            <strong>Soluvix</strong>
            <span>{{ 'universidad' | transloco }}</span>
        </div>

        <div class="footer-authors">
            <mat-icon>code</mat-icon>
            <span>
                {{ 'hecho_por' | transloco }}
                <strong>Ana Paula Fernández Alfaro</strong>
                {{ 'y' | transloco }}
                <strong>Fabricio Arias Samora</strong>
            </span>
        </div>
        <span class="footer-year">© {{ year }}</span>
    </div>
</footer>