.app-shell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url("http://localhost:3000/images/FondoLayout.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: var(--mat-sys-on-background);
}

.content {
    width: min(1180px, calc(100% - 2rem));
    margin: 0 auto;
    padding: 2rem 0 3rem;
    flex: 1;
}